.menu {
  list-style-type: none;
  list-style-position: inside;
  -moz-column-count: 1;
  -webkit-column-count: 1;
  column-count: 1;
}

.menu li {
  margin-bottom: 10px;
}

.menu a {
  text-decoration: none;
  color: inherit;
}
